.app {
  align-content: center;
}

h1 {
  text-align: center;
}

.dice {
  margin: 0.5rem 1rem 0em 1rem;
}

.dice input {
  width: 3rem;
}

.history {
  border: solid 2px red;
}

.diceContainer {
  border: solid 2px greenyellow;
}
