.app {
    align-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    display: block;
    text-align: center;
}

.dice {
    margin: 0.5em 0em;
}

.dice input {
    width: 2rem;
}

.dice button {
    margin-left: 0.2rem;
}

.history {
    border: solid 2px #cccccc;
    border-radius: 3px;
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 1rem;
    flex-basis: 500px;
    margin-right: 1rem;
}

.diceContainer {
    padding: 1rem;
}